$activeColor: #51678f;
$color: #899bbd;

.breadcrumbItem {
  display: inline;

  &:not(:last-child):after {
    content: " \002F ";
    margin-right: 2px;
  }

  a {
    text-decoration: none;
    color: $color;

    &:hover {
      text-decoration: underline;
    }
  }

  .active {
    font-weight: 600;
    color: $activeColor;
  }
}
