$mainBackgroundColor: #f6f9ff;

.main {
  margin-top: 60px;
  padding: 20px 30px;
  background-color: $mainBackgroundColor;
  flex: 1;
  
  transition: all 0.3s;
}

.expanded {
  margin-left: 340px;
}