$footerTextColor: #012970;
$footerLinkColor: #4154f1;
$footerBorderColor: #cddfff;
$footerBackgroundColor: #f6f9ff;

.footer {
  padding: 1.25rem 0;
  transition: all 0.3s;
  border-top: 1px solid $footerBorderColor;
  background-color: $footerBackgroundColor;
  flex-shrink: 0;
  transition: all 0.3s;

  .copyright {
    text-align: center;
    color: $footerTextColor;

    strong {
      font-weight: 500;
    }
  }

  .credits {
    padding-top: 0.3125rem;
    text-align: center;
    color: $footerTextColor;

    a {
      color: $footerLinkColor;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.expanded {
  margin-left: 340px;
}
