$color: #333333;

.item {
  margin-bottom: 5px;

  a {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    transition: 0.3;
    padding: 10px 15px;
    border-radius: 4px;
    color: $color;
    text-decoration: none;

    svg {
      color: #899bbd;
      width: 16px;
      height: 16px;
      margin-right: 10px;
    }
  }

  .active {
    background: #f6f9ff;
    color: #4154f1;
  }
}
